@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');
@font-face {
    font-family: DGfont;
    src: url(../font/DS-DIGI.TTF);
}
@font-face {
    font-family: TitlesFont;
    src: url(../font/get_schwifty.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --backgroundPrincipal: #26354bad;

}
.App{
    
    background-image: url(../public/633176.jpg);
    min-height:700px;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    
}
.Title{
    margin: auto;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-image: url(../public/625910.png);
    background-size: 100%;
    z-index: 11;
    position: relative;
    margin-bottom: 10px;
}
Title img{
    position: relative;
    width: 100px;
    height: 100px;

}
.Navbar{
    position:absolute;
    z-index: 10;
    top: 0px;
    position: fixed;
    width: 150px;
    height: auto;

}
.Navbar img{
    width: 100%;
}
.locationGif{
    width: 250px;
    max-height: 200px;
}
.locationGif iframe {
width: 100%;
height: 100%;
border-radius: 10px 0 0 10px;
padding-right: 5px;
}
.cardLocation{
    display: flex;
    background-color:#f0e14a;
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
    min-width: 375px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}
.cardLocation h2{
    font-family: DGfont;
}
.prueba1{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}
.BoxResident{
    padding-top:30px;
    display: grid;
    background-color: var(--backgroundPrincipal);
    opacity: 1;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 100px ;
    grid-row-gap: 100px;
    margin-right: 10%;
    margin-left: 10%;
    grid-template: subgrid;
    
}
.cardResident{
    opacity: 1;
    align-items: center;
    margin: auto;
    background-color:#35c9dd;
    max-width: 300px;
    height: 500px;
    list-style: none;
    border-radius: 15px;
    box-shadow: #00ff15c9 0px 15px, rgba(45, 255, 3, 0.3) 0px 20px, rgba(51, 255, 0, 0.2) 0px 25px, rgba(85, 240, 46, 0.1) 0px 30px, rgba(85, 240, 46, 0.05) 0px 35px;
    font-family: 'Roboto Mono';
    font-size: large;
}
.residentImage{
    margin-top: -25px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.residentImage img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
}
.residentData li{
    list-style: none;
    
}
.Alive{
    background-color: #00ff15c9;
    width: 80px;
    height: auto;
    position: relative;
    top: 30px;
    text-align: center;
    font-family: DGfont;
}
.Dead{
    background-color: red;
    width: 80px;
    height: auto;
    position: relative;
    top: 30px;
    text-align: center;
    font-family: DGfont;
}
.Unknown{
    background-color: gray;
    font-family: DGfont;
    width: 80px;
    height: auto;
    position: relative;
    top: 30px;
    text-align: center;
    
}
.gunTop{
    position: relative;
    top: 60px;
    margin: auto;
    width: 110px;
    height: 170px;
    background-color: #A10E20;
    border: transparent;
    overflow: hidden;
    clip-path: ellipse(50% 50% at 50% 50%);
}
.gunTop img{
    position: relative;
    width: 250%;
    height: 150%;
    right: 95px;
    bottom:  50px;
}
.Font{
background-color: #FDFDFD;
    margin: auto;
    width: 300px;
    height: 130px;
    align-content: center;
    clip-path:  circle(70% at 50% 20%);
    border: transparent;
}

.Fonts{
    padding-top: 10px;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0)
}
.Font input{
    margin-top: 10px;
    text-align: center;
    width: 300px;
    height: 40px;
    font-size: 30px;
    font-style: normal;
    background-color: #A10E20;
    color: #ff0000;
    text-decoration-color: #26354B;
    font-family: DGfont;
    z-index: 1000000000;
    
}
.buttonSearch{
    background-color: #535352;
    border-radius: 50%;
    border: transparent;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 110px;
}
.buttonSearch p{
    font-family: 'Roboto Mono';
    font-size: large;
}

.list{    
    margin: auto;
    background-color:#DCDCDC;
    width: 230px;
    z-index: 20;
}
.listAboslute{
    position: absolute;
    background-color: #535352;
    z-index: 10;
    width: 230px;
}
.list h2{
    font-family: TitlesFont;
    text-align: center;
}
.listAboslute ul{
    list-style: none;
    
}
@media( min-width: 600px){
    .Navbar{
        display: none;
        width: 300px;
    
    }
    .Title{
        margin: auto;
        width: 900px;
        height: 250px;
        overflow: hidden;
        background-image: url(../public/625910.png);
        background-size: 900px;
    }
}